name: On PR

on:
  pull_request_target:
    types: [opened, synchronize, reopened, review_requested]

jobs:
  trigger-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      # Ensures python3-setuptools is installed
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install Python dependencies
        run: python3 -m pip install pyyaml

      - uses: packagecontrol/st-schema-reviewer-action@v1

      - uses: packagecontrol/st-package-reviewer-action@v1
        with:
          pr-url: ${{ github.event.pull_request.url }}
          base-sha: ${{ github.event.pull_request.base.sha }}
          current-sha: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.STREVIEWBOT_PERSONAL_ACCESS_TOKEN }}
