name: On PR

on: [pull_request_target]

jobs:
  trigger-review:
    runs-on: ubuntu-latest
    steps:
      - run: cat <<<'${{ toJson(github.event.pull_request) }}'

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      # Ensures python3-setuptools is installed
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install Python dependencies
        run: python3 -m pip install pyyaml git+https://github.com/packagecontrol/st_package_reviewer.git@d2b43530442f227751c925d259df8fb324eee18f

      - uses: sublimelsp/st-schema-reviewer-action@v1

      - uses: sublimelsp/st-package-reviewer-action@v1
        with:
          pr-url: ${{ github.event.pull_request.url }}
          base-sha: ${{ github.event.pull_request.base.sha }}
          current-sha: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
